.tasks {
  display: flex;
  flex-grow: 1;
  margin-left: 1em;
  overflow: auto;
}

.task {
  width: 500px;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.tasksList {
  background: linear-gradient(#004383, #837ed8);
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  padding: 20px;
  min-width: 20rem;
  min-height: 90px;
  padding: 1em;
  margin: 1em;
}

.tasksWrapper {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .tasks {
    flex-direction: column;
    margin: 0px;
  }

  .task {
    width: 80%;
    height: 100%;
  }

  .tasksList {
    min-width: 200px;
    min-height: 90px;
    padding: 1em;
    margin: 1em;
  }

  .tasksWrapper {
    height: 80vh;
  }
}
