html, body {
    margin: 0;
    background: linear-gradient(#a2dce9, #cce5ed);
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
}

button.btn-header{
    border-radius: 5px;
    background-color: #094f99;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.btn-press {
    margin-top: 30px;
    margin-right: 2px;
    bottom: 0;
    right: 0;
    float: right;
    position: relative;
    background-image: url('../images/presse-papier.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}